doctype html
html
  head
    title ada
    
    block style  
  body
    nav#navbar.top 
        ul 
          div#logo
            img(src="../static/logo.jpg") 
            | ADA
          li #[a(href='/') HOME] 
          li #[a(href='/') ABOUT] 
          li #[a(href='/contact') CONTACT US]
          li #[a(href='/') SERVICES]
          li #[a(href='/') CLASS INFO]
    block content
        

    footer#footer 
      | Copyright (C) 2021 AjayDanceAcademy.com
      
      